---
layout: page
title: Categories
permalink: /categories/
---

<script type="text/javascript">
  function filterUsingCategory(selectedCategory) {
    var id = 0;
    {% for post in site.posts %}
      var cats = {{ post.categories | jsonify }}

      var postDiv = document.getElementById(++id);
      postDiv.style.display = (selectedCategory == 'All' || cats.includes(selectedCategory)) 
        ? 'unset' 
        : 'none';
    {% endfor %}
  }
</script>

<div>
  <button class="category-filter" id="All" onclick="filterUsingCategory('All')">Show All Posts</button>
  {% assign categories = site.categories | sort %}
  {% for category in categories %}
    {% assign cat = category | first %}
    <button class="category-filter" id="{{ cat }}" onclick="filterUsingCategory(this.id)">{{ cat }}</button>
  {% endfor %}
  <hr />
</div>

<div class="posts-wrapper">
  {% assign id = 0 %}
  {% for post in site.posts %}
    {% assign id = id | plus:1 %}
    <div class="post" id="{{id}}">
      <p class="itemInteriorSection">
        <h3 class="category-head"><a href="{{post.url}}">{{post.title}}</a></h3>
          {{ post.date | date: "%B %d, %Y" }}
      </p>
    </div>
  {% endfor %}
</div>
